
	<div id="messages" ng-show="message">{{ message }}</div>
	
	<form ng-submit="processForm()">
		<div id="name-group" class="form-group">
			<label>Name</label>
			<input type="text" name="name" placeholder="Name" ng-model="formData.name">
			<span class="help-block" ng-show="errorname">{{ errorname }}</span>
		</div>

		<div id="abbreviation-group" class="form-group">
			<label>Abbreviation</label>
			<input type="text" name="abbreviation" placeholder="Abbreviation" ng-model="formData.abbreviation">
			<span class="help-block" ng-show="errorabbreviation">{{ errorabbreviation }}</span>
		</div>

		<div id="status-group" class="form-group">
			<label>Status</label>
			<input type="text" name="status" placeholder="Status" ng-model="formData.status">
			<span class="help-block" ng-show="errorstatus">{{ errorstatus }}</span>
		</div>

		<button type="submit">Add</button>
	</form>
	<hr>
	<pre>
		{{ formData }}
	</pre>
